.comment
  %p= comment.comment
  %p
    By
    =comment.user.email
    -if current_user == comment.user
      =link_to 'Edit', [:edit, @post, comment]
      =link_to 'Delete', [@post, comment], method: :delete, data:{ confirm:'Are you sure?' }
