#post-content
  .post.clearfix
    %h1.title= @post.title
    %p.date
      Posted
      =time_ago_in_words @post.created_at
      by
      =@post.user.email
    %p.content= @post.content

  #comments
    %h2= pluralize( @post.comments.count, 'reply' )
    =render @post.comments.reject( &:new_record? )

  #new_comment
    =render '/comments/form'

  -if @post.user == current_user
    #post-buttons
      =link_to 'Back', posts_path, class:'button'
      =link_to 'Edit', [:edit, @post], class:'button'
      =link_to 'Delete', @post, method: :delete, data:{ confirm:'Are you sure?' }, class:'button'
