%h1= @post.title
%p= @post.content
%p
  Posted
  =time_ago_in_words @post.created_at

=link_to 'Back', posts_path
=link_to 'Edit', [:edit, @post]
=link_to 'Delete', @post, method: :delete, data:{ confirm:'Are you sure?' }
