!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }
    %title Mc10Forum
    =csrf_meta_tags
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    =stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Lato:300,400,700'
    =stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'
    =javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.main-header.clearfix
      .wrapper
        #logo
          %p= link_to 'ARTA\'S RAILS FORUM', root_path
        #buttons
          =link_to '+ Post', new_post_path

    .wrapper
      -flash.each do |name, msg|
        =content_tag :p, msg, class:"#{name}"

    .wrapper
      =yield
